* {
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: darkolivegreen;
    color: whitesmoke;
    font-family: 'Staatliches';
}


a:link {

    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

#nav {
    text-decoration: none;


}

ul {
    list-style: none;
    text-align: center;
    margin: 0px;
}

li {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.nav-tem {
    color: white;
}

#current-nav-item {
    color: #0B0B0D;
}

a:hover {
    color: yellow;
}

#current-page {

    color: yellow;
}

.about {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}



body-one {
    background-color: black;
    height: 100vh;
    
/*    for centering objects*/
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
        
}

.container {
    position: relative; /* since we want to absolute position the label, the outside container has to be set to position:relative */
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    width: 200px; /* make the outside container the same width as the image, this forces the label tag to stay inside its bounds, and when the absolute is applied on the position of the label, it will appear on top.*/
}

.image {
    width: 200px; /* give the image a specific width */
    transition: opacity .5s ease;
}

.label {
    opacity: 0; /* start invisible */
/*    font-family: Arial;*/
    color: yellow;
    font-size: 1.5em;
    background: skyblue;
    padding: 5px 7px;
    
    display: inline-block; /* make the box only as wide as the content */
    position: absolute; /* taken out of document flow */
    
    transition: opacity .5s ease;
}

/*This next line says that when you hover on the container, change the item with a class of label*/

.container:hover .label {
    opacity: 1;
}

/*This next line says that when you hover on the container, change the item with a class of image*/

.container:hover .image {
    opacity: 0;
}
