*{margin: 0px;
padding: 0px;}

body {
    background-image: url(../imgs/maxim-background.jpg);
      background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
/*    color: whitesmoke;*/
}


a:link{
    
    text-decoration: none;
    color:white;
}

a:visited{
    color: white;
}

#nav{
text-decoration: none;

    
}

ul{
    list-style: none;
    text-align: center;
    margin: 0px;
}

li{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

h1 {
    font-size: 50px;
    animation-name: expand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}


.nav-tem{
    color: white;
}

#current-nav-item{
    color: #0B0B0D;
}

a:hover {
    color: #911B06;
}

@keyframes expand {

    0% {
        font-size: 0em;

    }

    100% {

        font-size: 5em;
    }


.about{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}


