* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #3C632E;
    font-family: Helvetica Neue, Arial, Sans-Serif;
    font-size: 80px;
    font-weight: 500;
}

.jacksal {
    top: 160px;
    left: 790px;
    position: absolute;
    color: white;
    transform: rotate(90deg);
    font-stretch: condensed;
    font-weight: bold;
    

}

.project{
    top: 250px;
    left: 630px;
    position: absolute;
    transform: rotate(90deg);
    font-weight: bold;
    font-stretch: condensed;
}

